<div class="col-12 clearfix">
  <div class="float-right">
    <%= new_button(new_admin_skill_path) %>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= Skill.human_attribute_name :name %></th>
      <th><%= Skill.human_attribute_name :remarks %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @skills&.each do |skill| %>
      <tr>
        <td><%= skill.name %></td>
        <td><%= truncate(skill.remarks, length: 10) %></td>
        <td class="operation">
          <%= link_to button_name(:version), admin_skill_versions_path(skill), class: 'btn btn-version' %>
        </td>
        <td class="operation">
          <%= edit_button(edit_admin_skill_path(skill)) %>
          <%= destroy_button(admin_skill_path(skill)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
