<div class="col-12 clearfix">
  <div class="float-right">
    <%= new_button(new_admin_user_path) %>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= User.human_attribute_name :login_id %></th>
      <th><%= User.human_attribute_name :name %></th>
      <th><%= User.human_attribute_name :role %></th>
    </tr>
  </thead>
  <tbody>
    <% @users&.each do |user| %>
      <tr>
        <td><%= user.login_id %></td>
        <td><%= user.name %></td>
        <td><%= user.role_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
