<!DOCTYPE html>
<html>
  <head>
    <title>MemberManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= controller_css_include %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= controller_js_include %>
  </head>

  <body>
    <%= render 'layouts/nav' if user_signed_in? %>

    <div class="container m-top-10">
      <%= content_tag(:h1, page_title) %>

      <%= content_tag_if(notice.present?, :p, notice, class: 'alert alert-info') %>
      <%= content_tag_if(alert.present?, :p, alert, class: 'alert alert-info') %>
      <%= content_tag_if(flash[:error].present?, :p, flash[:error], class: 'alert alert-danger') %>

      <%= yield %>
    <div>
  </body>
</html>
